/*------------Global------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: sans-serif;
    font-weight: 100;
}
body {
    width: 60%;
    margin: auto;
    background-image: url("images/background.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 32px;
    font-weight: 400;
    color: blue;
    font-family: romanesco, cursive;
}
h2 {
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}
h5 {
    font-size: 20px;
    margin: 10px;
    color: #17191A;
}
p {
    color: #8F9EA5;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/*------------Nav------------*/
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}
.myName, .navIcons {
    flex: 1;
}
.navIcons {
    text-align: right;
}
.navIcons a, .myName a {
    display: inline-block;
    vertical-align: middle;
}
.navIcons a {
    margin-left: 40px;
}
.myName {
    color: #0000EE;
    font-family: 'Romanesco', cursive;
    font-size: 32px;
}

/*------------Landing------------*/
.landing {
    height: 100vh;
    position: relative;
}
.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.landingl {
    margin-top: 4em;
}
.scroll {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}
/*------------Skills------------*/
.skills {
    text-align: center;
    margin-bottom: 20em;
}
.skills p {
    margin-bottom: 30px;
}
.skills img {
    width: 40px;
    margin: 0 15px;
}
/*------------Work 01------------*/
.work {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work > .workText {
    position: absolute;
    top: 85px;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}
.work > .workImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work ul li {
    margin-top: 20px;
}
/*------------Work 02------------*/
.work2 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work2 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work2 > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}
.work2 > .workImg {
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work2 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work2 ul li {
    margin-top: 20px;
}
/*------------Work 03------------*/
.work3 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work3 > .workText {
    position: absolute;
    top: 85px;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work3 > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}
.work3 > .workImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work3 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work3 ul li {
    margin-top: 20px;
}
/*------------Work 04------------*/
.work4 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work4 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work4 > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}
.work4 > .workImg {
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work4 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work4 ul li {
    margin-top: 20px;
}
/*------------Work 05------------*/
.work5 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work5 > .workText {
    position: absolute;
    top: 85px;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work5 > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}
.work5 > .workImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work5 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work5 ul li {
    margin-top: 20px;
}
/*------------Work 06------------*/
.work6 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}
.work6 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
    font-size: 20px;
    font-family: romanesco, cursive;
}
.work6 > .workText > .underline {
    display: block;
    background-color: white;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}
.work6 > .workImg {
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,26,0.06);
}
.work6 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work6 ul li {
    margin-top: 20px;
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .nav a {
      float: none;
      width: 100%;
    }
}